@font-face {
    font-family: "ABCMarist-Regular-Trial";
    src: url(ABCMarist-Regular-Trial.otf);
  }

body{
    margin: 0;
    padding: 0;
    font-family: "ABCMarist-Regular-Trial";
    font-size: 18;
    line-height: 2.0em;
}

  .column {
    width: 25vw;
    padding: 2%;
    box-sizing: border-box;
    float: left;
    font-family: "ABCMarist-Regular-Trial";
    text-align: center;
    height: 100vh;
    overflow-y: scroll;
  }

  .column p {
    font-weight: ;
    line-height: 1.4em;   
  }

  #column1 {
    background-color: lightskyblue;
  }

  #column2 {
    background-color: rgb(29, 29, 217);
  }
  #column3 {
    background-color: darkblue;
  }
  #column4 {
    background-color: rgb(4, 4, 63);
    color: white;
  }
  