@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

@font-face {
    font-family: 'Your Font Name';
    src: url('../fonts/yourfontname/yourfontname-roman.woff2'),
         url('../fonts/yourfontname/yourfontname-roman.woff'),
         url('../fonts/yourfontname/yourfontname-roman.eot'),
         url('../fonts/yourfontname/yourfontname-roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yourfontname/yourfontname-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Your Font Name';
    src: url('../fonts/yourfontname/yourfontname-italic.woff2'),
         url('../fonts/yourfontname/yourfontname-italic.woff'),
         url('../fonts/yourfontname/yourfontname-italic.eot'),
         url('../fonts/yourfontname/yourfontname-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/yourfontname/yourfontname-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}


/* VARIABLES */

:root {
  /* Color settings */
  --color-background: rgb(244, 241, 240);
  --color-text: indigo;
  --color-text-link: indigo;
  --color-text-link-hover: rgba(0,0,0,0.2);
  --color-theme-1: rgba(150,175,255,0.8);
  --color-theme-2: rgba(255,100,0,0.8);
  --color-theme-3: rgba(255,125,255,0.8);
  --color-theme-4: rgba(255,25,200,0.8);
  --color-theme-5: rgba(195,170,120,0.8);
  /* Font settings */
  --font-family: 'Helvetica', 'Times New Roman', 'Times', sans-serif;
  --font-size: 4px;
  /* Margins settings */
  --margin: 1rem;
}


/* GENERAL STYLES */

main {
  background-color: black;
}

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

ul {
  display: flex;
  list-style: none;
  margin: 5;
  padding: 0;
}

li {
  margin: 0 20px;
}

a {
  color: indigo;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 5cm;
  text-decoration: none;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #CA4246;
  
  /* Create the gradient. */
   background-image: linear-gradient(
        45deg,
        #aac2fa 16.666%, 
        #4176e1 16.666%, 
        #8672ef 33.333%, 
        #9d43f1 33.333%, 
        #7c33cf 50%, 
        #4d2891 50%, 
        #4b2974 66.666%, 
        #182a50 66.666%, 
        #0a162e 83.333%, 
        #0a162e 83.333%);
  
  /* Set the background size and repeat properties. */
  background-size: 5%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.5s ease forwards;

}

.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
  

body {
  position:relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y:auto;
}

.container {
  margin-top: 0.2cm;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  font-size: 14px;
  width: 35%;
  flex: 1 1 auto;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.box-expanded {
	flex-grow: 1000;
}


h1{

position: relative;
margin-top: 20;
margin-bottom: 10;
left: 0%;
font-size: 130;

}
.topnav{

position: relative;
margin-top: 20px;
margin-bottom: 20;

left: 0%;

}

*/

p{
  /* paragraph style */
  font-size:1rem;
  line-height:125%;
}

ol, ul{
  /* ordered list and unordered list styles */
}

blockquote{
  /* blockquote element style */
}

hr{
  /* horizontal rule style */
  border:none;
  border-bottom:0.25rem dotted var(--color-text);
}

/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */

header{
  text-align: center;
}

header h1{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30vmin;
}

nav{
  /* what goes inside the navigation part of the page */
}


/* content */

main{
  width:100%;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  text-align:start;
  padding-left:0%;
  padding-right:0%;
  box-sizing: content-box;
}


figure img{
  cursor: zoom-in;
  -webkit-transition: all 250ms ease-in-out 0ms;
  -moz-transition: all 250ms ease-in-out 0ms;
  transition: all 250ms ease-in-out 0ms;
  filter: grayscale(20%) brightness(40%) saturate(200%) hue-rotate(-90deg) contrast(200%);
}

figure img:hover{
  filter: grayscale(0%) brightness(100%) saturate(150%) hue-rotate(20deg) contrast(110%);
}

figcaption p{
  margin-bottom: 0;
  text-align: center;
}

footer{
  background-color: black;
  font-size: small;
  text-align: center;
  margin-bottom: 1cm;
}

/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}


/* MEDIA QUERIES */

/* responsive typeface */

@media (max-width: 298px) { 
  :root{ --font-size: 15px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 299px) and (max-width: 339px) { 
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 340px) and (max-width: 439px) { 
  :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);} 
}
@media (min-width: 440px) and (max-width: 599px) { 
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 600px) and (max-width: 779px) { 
  :root{ --font-size: 19px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 780px) and (max-width: 992px) { 
  :root{ --font-size: 20px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 993px) and (max-width: 1200px) { 
  :root{ --font-size: 22px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1201px) and (max-width: 1319px) { 
  :root{ --font-size: 24px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1320px) and (max-width: 1619px) { 
  :root{ --font-size: 26px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1620px) and (max-width: 1879px) { 
  :root{ --font-size: 28px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1880px) { 
  :root{ --font-size: 30px; } html, body {font: var(--font-size) var(--font-family);}
}



/* website media queries */

@media (max-width: 779px) {

  /* styles for screen sizes 779px, should covers 'mobile' and 'tablet' */
  /* style this one first and then use the two others to 'override' some styles (exceptions/details) */

  header h1{
    font-size: 20vw;
  }

}



@media (max-width: 339px) {

  /* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

}



@media (max-width: 779px) and (orientation: landscape) {

  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

}



@media (min-width: 780px) and (max-width: 992px) {

  /* use this query to apply style for 'small' desktop screens */

  header h1{
    font-size: 20vw;
  }

}


