@charset "UTF-8";


/* VARIABLES */

:root {
  /* Color settings */
  --color-background: rgb(244, 241, 240);
  --color-text: indigo;
  --color-text-link: indigo;
  --color-text-link-hover: rgba(0, 0, 0, 0.2);
  --color-theme-1: rgba(150, 175, 255, 0.8);
  --color-theme-2: rgba(255, 100, 0, 0.8);
  --color-theme-3: rgba(255, 125, 255, 0.8);
  --color-theme-4: rgba(255, 25, 200, 0.8);
  --color-theme-5: rgba(195, 170, 120, 0.8);
  /* Font settings */
  --font-family: 'Helvetica', 'Times New Roman', 'Times', sans-serif;
  --font-size: 4px;
  /* Margins settings */
  --margin: 1rem;
}


/* GENERAL STYLES */


main {
  background: rgb(10,22,46);
background: linear-gradient(180deg, rgba(10,22,46,1) 0%, rgba(46,33,94,1) 39%, rgba(157,67,241,1) 46%, rgba(170,194,250,1) 54%);
}


html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}


#lf-fnref1, #lf-fnref2, #lf-fnref3, #lf-fnref4, #lf-fnref5, #lf-fnref6, #lf-fnref7, #lf-fnref8, #lf-fnref9, #lf-fnref10, #lf-fnref11, #lf-fnref12, #lf-fnref13, #lf-fnref14, #lf-fnref15, #lf-fnref16, #lf-fnref17, #lf-fnref18, #lf-fnref19, #lf-fnref20, #lf-fnref21, #lf-fnref22, #lf-fnref23, #lf-fnref24, #lf-fnref25, #lf-fnref26, #lf-fnref27, #lf-fnref28, #lf-fnref29, #lf-fnref30, #lf-fnref31, #lf-fnref32, #lf-fnref33, #lf-fnref34, #lf-fnref35, #lf-fnref36, #lf-fnref37, #lf-fnref38, #lf-fnref39, #lf-fnref40, #lf-fnref41, #lf-fnref42, #lf-fnref43, #lf-fnref44, #lf-fnref45, #lf-fnref46, #lf-fnref47, #lf-fnref48, #lf-fnref49, #lf-fnref50, #lf-fnref51, #lf-fnref52, #lf-fnref53, #lf-fnref54, #lf-fnref55, #lf-fnref56, #lf-fnref57, #lf-fnref58, #lf-fnref59, #lf-fnref60, #lf-fnref61, #lf-fnref62, #lf-fnref63, #lf-fnref64, #lf-fnref65, #lf-fnref66, #lf-fnref67, #lf-fnref68, #lf-fnref69, #lf-fnref70, #lf-fnref71, #lf-fnref72, #lf-fnref73, #lf-fnref74, #lf-fnref75, #lf-fnref76, #lf-fnref77, #lf-fnref78, #lf-fnref79, #lf-fnref80, #lf-fnref81, #lf-fnref82, #lf-fnref83, #lf-fnref84, #lf-fnref85, #lf-fnref86, #lf-fnref87, #lf-fnref88, #lf-fnref89, #lf-fnref90 {
  background-color: indigo !important;
  color: aliceblue !important;
  block-size: 25% !important;
}


ul {
  display: flex;
  list-style: none;
  margin: 5;
  padding: 0;
}

li {
  margin: 0 20px;
}

a {
  color: indigo;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 5cm;
  text-decoration: none;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #CA4246;

  /* Create the gradient. */
  background-image: linear-gradient(45deg,
      #aac2fa 16.666%,
      #4176e1 16.666%,
      #8672ef 33.333%,
      #9d43f1 33.333%,
      #7c33cf 50%,
      #4d2891 50%,
      #4b2974 66.666%,
      #182a50 66.666%,
      #0a162e 83.333%,
      #0a162e 83.333%);

  /* Set the background size and repeat properties. */
  background-size: 5%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.5s ease forwards;

}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }

  40% {
    background-size: 650%;
  }

  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }

  80% {
    background-size: 650%;
  }

  100% {
    background-size: 650%;
  }
}


body {
  position: relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.container {
  margin-top: 0.2cm;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  font-size: 14px;
  width: 35%;
  flex: 1 1 auto;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.box-expanded {
  flex-grow: 1000;
}

.box {
  position: relative;
}

.expand-button {
  border-radius: 12px;
  background-color: indigo;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  position: absolute;
  top: 0;
  right: 0;
}


h1 {

  position: relative;
  margin-top: 20;
  margin-bottom: 10;
  left: 0%;
  font-size: 130;

}

.topnav {

  position: relative;
  margin-top: 20px;
  margin-bottom: 20;

  left: 0%;

}

*/ p {
  /* paragraph style */
  font-size: 1rem;
  line-height: 125%;
}

ol,
ul {
  /* ordered list and unordered list styles */
}

blockquote {
  margin: 0!important;
}

blockquote a{
  font-size: 12px!important;
}


hr {
  /* horizontal rule style */
  border: none;
  border-bottom: 0.25rem dotted var(--color-text);
}

/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */

header {
  text-align: center;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30vmin;
}

nav {
  /* what goes inside the navigation part of the page */
}


/* content */

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: start;
  padding-left: 0%;
  padding-right: 0%;
  box-sizing: content-box;
}


figure img {
  cursor: zoom-in;
  -webkit-transition: all 250ms ease-in-out 0ms;
  -moz-transition: all 250ms ease-in-out 0ms;
  transition: all 250ms ease-in-out 0ms;
  filter: grayscale(20%) brightness(40%) saturate(200%) hue-rotate(-90deg) contrast(200%);
}

figure img:hover {
  filter: grayscale(0%) brightness(100%) saturate(150%) hue-rotate(20deg) contrast(110%);
}

figcaption p {
  margin-bottom: 0;
  text-align: center;
}

footer {
  background-color: black;
  font-size: small;
  text-align: center;
  margin-bottom: 1cm;
}

/* GENERAL USABILITY */

/* hide desktop mobile etc */

.desktop {
  display: block;
}

.mobile {
  display: none;
}

/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* Blocknote P styling */
.littlefoot__content {
  color: indigo!important;
  font-size: 12px!important;
  font-family: Arial, Helvetica, sans-serif!important;
  padding: 1rem!important;
}

/* MEDIA QUERIES */

/* responsive typeface */

@media (max-width: 298px) {
  :root {
    --font-size: 15px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 299px) and (max-width: 339px) {
  :root {
    --font-size: 16px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 340px) and (max-width: 439px) {
  :root {
    --font-size: 17px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 440px) and (max-width: 599px) {
  :root {
    --font-size: 18px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 600px) and (max-width: 779px) {
  :root {
    --font-size: 19px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 780px) and (max-width: 992px) {
  :root {
    --font-size: 20px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  :root {
    --font-size: 22px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 1201px) and (max-width: 1319px) {
  :root {
    --font-size: 24px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 1320px) and (max-width: 1619px) {
  :root {
    --font-size: 26px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 1620px) and (max-width: 1879px) {
  :root {
    --font-size: 28px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}

@media (min-width: 1880px) {
  :root {
    --font-size: 30px;
  }

  html,
  body {
    font: var(--font-size) var(--font-family);
  }
}



/* website media queries */

@media (max-width: 779px) {

  /* styles for screen sizes 779px, should covers 'mobile' and 'tablet' */
  /* style this one first and then use the two others to 'override' some styles (exceptions/details) */

  header h1 {
    font-size: 20vw;
  }

}



@media (max-width: 339px) {

  /* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

}



@media (max-width: 779px) and (orientation: landscape) {

  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

}



@media (min-width: 780px) and (max-width: 992px) {

  /* use this query to apply style for 'small' desktop screens */

  header h1 {
    font-size: 20vw;
  }

}